<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{#if textRight}}
                {{#each textRight}}
                <div class="col-12">
                    <h1>{{text}}</h1>
                    <a href="/admin/aboutUs/headerRight/delete/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/admin/aboutUs/headerRight/update/{{id}}" class="btn btn-danger">Update</a>
                </div>
                {{/each}}
                {{else}}
                <div class="card card-primary">
                    <form action="/admin/aboutUs/header-right/{{data.id}}" method="POST">
                        <label for="header-right-text">Text</label>
                        <input type="text" class="form-control" id="header-right-text" name="text" value="{{data.text}}"
                            required />
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>