<header class="news-header">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 header-left">
            {{#each headerLeft}}
            <h1>{{text}}</h1>
            {{/each}}
        </div>
        <div class="col-lg-5 header-right">
            {{#each headerRight}}
            <img src="/images/{{img}}" alt="">
            {{/each}}
        </div>
    </div>
</header>
<section class="news-section">
    <div class="news-section_top">
        <h1>Eng so‘ngi yangiliklar</h1>
        <div class="row">
            <div class="col-lg-8">
                <div class="block">
                    {{#each newsTop}}
                    <img src="/images/{{img}}" alt="" class="active-img">
                    <div class="more">
                        <div class="more_top">
                            <div class="col-lg-4 left">
                                <div class="user-img">
                                    <img class="imgggg" src="../images/logo.png" alt="">
                                </div>
                                <div class="user-name">
                                    <h4>ChangeIt-Academy</h4>
                                    <h5>Meneger</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 right">
                                <p>{{data}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 more-bottom">
                            <h2>{{title}}</h2>
                            <h5>{{more}}</h5>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-4">
                {{#each news}}
                <div class="card-right mt-2">
                    <div class="row newsClick" data-id="{{id}}">
                        <div class="col-lg-5">
                            <img src="/images/{{img}}" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>{{title}}</h3>
                            <h4 class="data">{{data}}</h4>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    </div>

    <div class="news-section-center">
        <h1>Yangilik va maqolalar</h1>
        <div class="row news-row">
            {{#each articleFind}}
            <div class="col-lg-4 block-news">
                <div class="card"
                    style="width: 23rem;  border-top-left-radius: 7px;  border-top-right-radius: 7px; overflow: hidden;">
                    <img src="/images/{{img}}" class="card-img-top" alt="..." style="height:250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{about}}</p>
                        <h6>{{data}}</h6>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-12 text-center">
            <button type="button" class="again load-more">Yana</button>
        </div>
    </div>
</section>
<script src="/plugins/jquery/jquery.min.js"></script>
<script>

    var wrapper = document.querySelectorAll('.news-row .block-news')
    var btn = document.querySelector('.load-more')
    var currentimg = 3
    btn.addEventListener('click', function (e) {
        for (var i = currentimg; i < currentimg + 3; i++) {
            if (wrapper[i]) {
                wrapper[i].style.display = "block"
            }
            if (currentimg > wrapper.length - 3) {
                btn.style.display = "none"
                e.preventDefault()
            }
        }
        currentimg += 3
    })
</script>
<script src="/scripts/app.js"></script>