<div class="container">
    <div class="news-section-center">
        <h1>Yangilik va maqolalar</h1>
        <a href="/admin/news/article/add" class="btn btn-danger mb-3">Add Article</a>
        <div class="row news-row">
            {{#each articleFind}}
            <div class="col-lg-4 block-news">
                <div class="card"
                    style="width: 23rem;  border-top-left-radius: 7px;  border-top-right-radius: 7px; overflow: hidden;">
                    <img src="/images/{{img}}" class="card-img-top" alt="..." style="height:250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{about}}</p>
                        <h6>{{data}}</h6>
                        <a href="/admin/news/article/delete/{{id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-12 text-center">
            <button type="button" class="again load-more">Yana
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<script>

    var wrapper = document.querySelectorAll('.news-row .block-news')
    var btn = document.querySelector('.load-more')
    var currentimg = 3
    btn.addEventListener('click', function (e) {
        for (var i = currentimg; i < currentimg + 3; i++) {
            if (wrapper[i]) {
                wrapper[i].style.display = "block"
            }

            if (currentimg > wrapper.length - 3) {
                btn.style.display = "none"
                e.preventDefault()
            }
        }
        currentimg += 3
    })
</script>